<form  class="form" name="loginForm"  ng-submit="login()" novalidate>
	
	<div class="form-group" ng-class="{'has-error':loginForm.email.$invalid && loginForm.email.$dirty,
	'has-success':loginForm.email.$valid && loginForm.email.$dirty,}">
	<label class="control-label" for="Email" >Email</label>
	<input type="email" name="email" class="form-control" ng-model="user.email"  required cu-focus/>
	<p class="help-block" ng-show="loginForm.email.$invalid && loginForm.email.$dirty && loginForm.email.$focused " >Wrong Email</p>

</div>

<div class="form-group">
	<label class="control-label"  for="password">Password</label>
	<input type="password" name="password" class="form-control" ng-model="user.password" required cu-focus/>
	<p class="help-block" ng-show="loginForm.password.$invalid && loginForm.password.$dirty && loginForm.password.$focused " >Wrong password</p>

</div>


<div class="form-group">
	<button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid">Login</button>

</div>

</form>