   <div class="collapse navbar-collapse" id="js-navbar-collapse" >
   	<ul class="nav navbar-nav" >
   		<li ng-class="{active:isActive('')}"><a href="#/">Home</a></li>
   		<li ng-class="{active:isActive('/login')}"><a ng-href="#/login">Login</a></li>
   		<li ng-class="{active:isActive('/edges')}"><a ng-href="#/edges">Edges</a></li>
   		<li ng-class="{active:isActive('/about')}"><a ng-href="#/about">About</a></li>
   		<li ng-class="{active:isActive('/contact')}"><a ng-href="#/contact">Contact</a></li>
   	</ul>
   </div>